<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
from microsite_configuration import microsite
%>

<section id="forgot-password-modal" class="modal" role="dialog" tabindex="-1" aria-label="${_('Password Reset')}">
  <div class="inner-wrapper">
    <button class="close-modal">
      <i class="icon fa fa-remove"></i>
      <span class="sr">
        ## Translators: this is a control to allow users to exit out of this modal interface (a menu or piece of UI that takes the full focus of the screen)
        ${_('Close')}
      </span>
    </button>

    <div id="password-reset">
      <div class="instructions">
        <p>${_("Your password is the one you use for all services EducaMadrid. If you have any problems, please contact the TIC Coordinator at your school or check out the FAQ of this site.")}</p>
      </div>

    </div>
  </div>
</section>
